<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<mat-toolbar color="primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 divHeader p-0">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
      </div>
      <div class="col-sm-4 divTextoHeader ">
        <span>Chocobollos Urbano</span>
      </div>
      <div class="col-sm-4 divBotonesHeader p-0">
        <button  mat-raised-button class="m-3">Login</button>
        <button (click)="registro()" mat-raised-button color="accent" class="m-3">Register</button>
      </div>
    </div>
  </div>
</mat-toolbar>
