<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container mt-5">
  <div class="col">
    <div class="row"></div>
    <div class="row align-items-center d-flex justify-content-center">
      <form [formGroup]="chocobolloForm" (ngSubmit)="add()" class="formularioLogin" >
      <mat-card>
        <mat-card-content class="text-center">
          <h2>RESERVA TU BOLLO!</h2>
        </mat-card-content>
        <hr>
        <div class="col-sm-12">
          <div class="row align-items-center">
            <label class="col-sm-3 text-center">Nombre del bollo:</label>
            <mat-form-field class="col-sm-9">
              <input matInput formControlName="nombre" class="form-control"  name="nombre" placeholder="Pon aquí tu nombre" required>
            </mat-form-field>
          </div>
          <div class="row align-items-center">
            <label class="col-sm-3 text-center">Tipo del bollo:</label>
            <mat-form-field class="col-sm-9">
              <input matInput formControlName="tipo" class="form-control" name="clave" placeholder="Pon aquí tu contraseña" required>
            </mat-form-field>
          </div>
          <div class="row align-items-center">
            <label class="col-sm-3 text-center">Ingredientes:</label>
            <div *ngFor="let ig of ingrediente">
              <mat-checkbox formControlName="ingredientes" name="{{ ig.id }}">{{ ig.nombre }}</mat-checkbox>
            </div>
          </div>
          <div class="row align-items-center d-flex justify-content-center">
            <button (click)="add()" mat-raised-button color="accent" class="m-3">Reservar bollo</button>
            <button (click)="volver()" mat-raised-button class="m-3">Volver</button>
          </div>
        </div>
      </mat-card>
    </form>
    </div>
    <div class="row"></div>
  </div>
</div>
