<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container mt-5">
  <div class="col">
    <div class="row"></div>
    <div class="row align-items-center d-flex justify-content-center">
      <mat-card>
        <mat-card-content class="text-center">
          <h2>LOGIN DE USUARIOS</h2>
        </mat-card-content>
        <hr>
        <div class="col-sm-12">
          <div class="row align-items-center">
            <label class="col-sm-3 text-center">Email:</label>
            <mat-form-field class="col-sm-9">
              <input matInput class="form-control">
            </mat-form-field>
          </div>
          <div class="row align-items-center">
            <label class="col-sm-3 text-center">Contraseña:</label>
            <mat-form-field class="col-sm-9">
              <input matInput class="form-control">
            </mat-form-field>
          </div>
          <div class="row align-items-center d-flex justify-content-center">
            <button mat-raised-button color="accent" class="m-3">Iniciar sesion</button>
            <button (click)="volver()" mat-raised-button class="m-3">Volver</button>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="row"></div>
  </div>

</div>
