<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container d-flex justify-content-center align-items-center">
  <div class="row mt-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form method="POST">
      <div class="d-flex justify-content-center"> <!-- Centra horizontalmente la tabla -->
        <table class="w-100" style="border-collapse: collapse; background-color: rgb(177, 98, 41);" border="2px">
          <tr>
            <td class="p-3 text-center table-tittle" style="min-width: 264px;">Nombre</td> <!-- Establece un ancho mínimo para cada celda -->
            <td class="p-3 text-center table-tittle" style="min-width: 264px;">Tipo</td>
            <td class="p-3 text-center table-tittle" style="min-width: 264px;">Ingredientes</td>
            <td colspan="2" class="text-center table-tittle">Operaciones</td>
          </tr>
          <tr *ngFor="let bollo of chocobollo">
            <td class="align-text table-text" style="min-width: 200px;">{{ bollo.nombre }}</td>
            <td class="align-text table-text" style="min-width: 264px;">{{ bollo.tipo }}</td>
            <td>
              <ng-container *ngIf="bollo.ingredientes && bollo.ingredientes.length > 0; else noIngredients">
                  <div *ngFor="let ingrediente of bollo.ingredientes">
                      {{ ingrediente }}
                  </div>
              </ng-container>
              <ng-template #noIngredients>
                  No hay ingredientes
              </ng-template>
          </td>
            <!-- Additional columns or actions if needed -->

            <td style="min-width: 264px;">
              <div class="align-buttons">
                <button (click)="editar(bollo.id, bollo.nombre, bollo.tipo)" mat-raised-button class="btn-sm m-2">Editar</button>
              </div>
            </td>
            <td>
                <div class="align-buttons">
                    <button (click)="confirmacionModal(bollo.id)" mat-raised-button class="btn-sm m-2" style="background-color: red;">Borrar</button>
                </div>
            </td>
        </tr>
        </table>
      </div>
    </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4 align-self-start">
      <button (click)="volver()" mat-raised-button color="accent" class="btn-sm m-2">Volver</button>
      <!-- <button (click)="anadir()" mat-raised-button color="accent" class="btn-sm m-2">Añadir chocobollo</button> -->
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>



<!-- <td style="min-width: 264px;">
              <div class="align-buttons">
                <button (click)="editar(bollo.id, bollo.nombre, bollo.tipo)" mat-raised-button class="btn-sm m-2">Editar</button>
              </div>
            </td> -->
